@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    background-color: #F0F0F0;
}
input[type=radio] {
    width: 30px;
    height: 30px;
}
.candidate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 30vw;
    background-color: white;
    border: #000000 solid 2px;
}
label{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #212529;
    font-size: 1.8rem;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
header{
    font-family: 'Inter', sans-serif;
    color: #D0A242;
    font-weight: 800;
    font-size: 2rem;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
header span{
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}
h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #212529;
    font-weight: 600;
    font-size: 1.8rem; 
}
h3 span{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.button{
    display: flex;  
    justify-content: center;  
    align-items: center;
}
.btn-primary{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #008080;
    width: 20vw;
    border: none;
    margin: 30px;
}

.btn-primary:hover{
    background-color: #842029;;
}